<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <h2>Lista de Eventos</h2>
    <ul>
        <li th:each="evento : ${eventos}">
            <a th:href="@{'/eventos/' + ${evento.idEvento}}">
                <span th:text="${evento.titulo}">Titulo</span> - 
                <span th:text="${evento.fecha}">Fecha</span> - 
                <span th:text="${evento.ciudad}">Ciudad</span>
            </a>
        </li>
    </ul>
    <a th:href="@{/perfil}">Volver al perfil</a>
</body>
</html>
