<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="/css/inicio.css" />
    <!-- Enlace a CSS -->
  </head>
  <body>
    <div class="container">
      <div th:if="${#authorization.expression('isAuthenticated()')}">
        <h1>
          Bienvenido,
          <span th:text="${#authentication.principal.username}">Usuario</span>!
        </h1>

        <!-- Barra de navegación -->
        <nav>
          <a href="/perfil">Mi Perfil</a>
          <form th:action="@{/logout}" method="post">
            <input
              type="hidden"
              th:name="${_csrf.parameterName}"
              th:value="${_csrf.token}"
            />
            <button type="submit">Cerrar Sesión</button>
          </form>
        </nav>
      </div>

      <!-- Si NO está autenticado -->
      <div th:if="${#authorization.expression('isAnonymous()')}">
        <h1>Bienvenido</h1>
        <nav>
          <a href="/login">Iniciar Sesión</a> |
          <a href="/register">Registrarse</a>
        </nav>
      </div>

      <!-- Contenido principal -->
      <section>
        <p>Esta es tu página de inicio personalizada.</p>
        <h2>Lista de Eventos</h2>

        <!-- Formulario de búsqueda -->
        <div th:if="${#authorization.expression('isAuthenticated()')}">
          <form action="/inicio" method="get">
            <input
              type="text"
              name="titulo"
              placeholder="Título del evento"
              th:value="${titulo}"
            />
            <input
              type="text"
              name="categoria"
              placeholder="Categoría"
              th:value="${categoria}"
            />
            <input
              type="text"
              name="ciudad"
              placeholder="Ciudad"
              th:value="${ciudad}"
            />
            <input
              type="date"
              name="fecha"
              th:value="${#dates.format(fecha, 'yyyy-MM-dd')}"
            />
            <button type="submit">Buscar</button>
          </form>
        </div>
        <ul>
          <li th:each="evento : ${eventos}">
            <a th:href="@{'/eventos/' + ${evento.idEvento}}">
              <span th:text="${evento.titulo}">Titulo</span> -
              <span th:text="${evento.fecha}">Fecha</span> -
              <span th:text="${evento.ciudad}">Ciudad</span>
            </a>
          </li>
        </ul>
      </section>
    </div>

    <script src="/js/inicio.js"></script>
    <!-- Enlace a JavaScript -->
  </body>
</html>
